@model EBook_Reader.Models.Document
@{
    ViewData["Title"] = "addDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddDocument</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDocument" asp-controller="Home" method="post" enctype="multipart/form-data">
           
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="Files" accept="application/pdf">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload">
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HomePage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

