
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<object data="~/Documents/LOR.pdf" type="application/pdf">
</object>-->

<div>
    <img src="~/images/book.jpg" />

</div>