@model EBook_Reader.Models.DocumentView

@{
    ViewData["Title"] = "viewDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<textarea style="width:714px;height:500px;border:1px solid black;margin-left:250px" name="txtArea" asp-for="textContent">

</textarea>*@

<html>
<body>
    <embed src=@Model.filePath style="width:900px;height:600px;float:left" alt="pdf" type="application/pdf">
   <!--<div style="float:right;width:350px;height:900px">
        <textarea style="width:inherit;height:600px; border:1px solid black;" name="txtArea" asp-for="filePath">
        </textarea>
        <input type="submit" style="width:inherit">
    </div>-->
</body>

</html>