@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EBook_Reader</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scale.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav>
            <a style="float:left;text-decoration:none" asp-area="" asp-controller="Home" asp-action="Index">EBook Reader</a>

            <partial name="_LoginPartial" />
            <div style="float:left">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a style="float:left;text-decoration:none" class="active" asp-controller="Home" asp-action="HomePage">Home</a>
                }
                <a style="float:left;text-decoration:none" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a style="float:left;text-decoration:none" asp-area="" asp-controller="Home" asp-action="siteMap">Site Map</a>
                }
                <a style="float:left;text-decoration:none" asp-area="" asp-controller="Public" asp-action="PublicHomePage">Public Area</a>
                <a style="float:left;text-decoration:none" href="~/pages/test124.html" >About</a>

            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="position:fixed">
        <div>
            &copy; 2019 - EBook_Reader - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
            </script>
        </environment>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--<script src="~/js/epub.js" asp-append-version="true"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="~/js/scale.js"></script>
    <!--<script src="epub.js"></script>-->

    @RenderSection("Scripts", required: false)
</body>
</html>
