@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div style="float:right">
        <a style="float:left" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
        <form style="float:left" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Logout", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
        </div>
        }
        else
        {
        <div style="float:right">
            <a class="nav-link text-dark" style="float:left;text-decoration:none" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="nav-link text-dark" style="float:left;text-decoration:none" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        }
</ul>